[submodule "janus/powerline"]
	path = janus/powerline
	url = https://github.com/Lokaltog/vim-powerline.git
[submodule "janus/trailing-whitespace"]
	path = janus/trailing-whitespace
	url = https://github.com/bronson/vim-trailing-whitespace
[submodule "janus/closetag"]
	path = janus/closetag
	url = https://github.com/vim-scripts/closetag.vim.git
